.title {
    font-family: $font-second;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 47px;
    font-weight: bold;
    color: #D54113;
    text-transform: uppercase;

    @include tablets_1024 {
        font-size: 24px;
        line-height: 31px;
    }

    @include phones__768 {
        margin-bottom: 30px;
    }


    &--sidebar {
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    &--sidebar-top {
        margin-bottom: 24px;
        text-align: center;
    }

    &--topics {
        color: $c-text-main;

        @include phones__480 {
            color: #D54113;
        }
    }
}
